.movie
{
  margin: 35px;
  display: inline-block;
  border: 2px dotted orange;
  border-radius: 15px;
  padding: 25px;
}

.movie_title {
    color: salmon;
    font-weight: 900;
    text-decoration: underline;
    }

.movie_text {
color: gray;
font-weight: 800;
}

.movie_rating {
  font-weight: bold;
  text-decoration:overline;
  text-align:center;
}
.movie_img {
    align-items:center;
}