.movie
{
  margin: 35px;
  display: inline-block;
  border: 2px solid blueviolet;
  border-radius: 15px;
  padding: 25px;
}

.movie_text {
color: gray;
font-weight: 800;
}

.movie_rating {
  font-style: italic;
}